@charset 'utf-8';

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
}

body *{
    font-family: 'Pretendard-Regular';
    font-weight: 100;
    font-size: 24px;
    /* border: 1px solid lightcoral; */
    color: white;
}

@media (max-width:1000px){
    body *{
        font-size: 20px;
    }
}

body {
    position: relative;
    z-index: -100000;
}

.wrap{
    position: relative;
    z-index: -100;
    overflow: hidden;
    background-color: black;
}

.inner{
    max-width: 1532px;
    width: calc(100% - 80px);
    margin: auto;
    position: relative;
}

img{
    width: 100%;
}

/* header */
.hd{
    height: 100vh;
}

.main_bg{
    background-image: url(./img/sec1_bg.jpg);
    background-size: cover;
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.gnb{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 1000;
    word-break: keep-all;
}

.gnb li:hover a{
    font-weight: bold;
}

.gnb li a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 1.5rem;
    transition: 0.3s;
}

.icon_con{
    width: 5%;
    min-width: 5%;
}

.ham{
    display: none;
}

/* headedr 1450px */
@media (max-width:1450px){
    .icon_con{
        width: 7%;
    }
}

/* headedr 1300px */
@media (max-width:1300px){
    header .inner{
        display: flex;
        justify-content: flex-end;
    }

    .gnb{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .gnb.on{
        display: flex;
    }

    .gnb li{
        margin-bottom: 1rem;
    }

    .gnb a{
        color: black;
    }

    .icon_con{
        display: none;
    }

    .ham{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 30px;
        margin-top: 40px;
        z-index: 10000;
        position: relative;
    }

    .ham span{
        width: 100%;
        height: 3px;
        background-color: white;
        transition: 0.3s;
    }

    .ham.on span{
        background-color: black;
    }
    
    .ham.on span:first-of-type, .ham.on span:last-of-type{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
    }

    .ham.on span:last-of-type{
        transform: translate(-50%, -50%) rotate(-45deg);
    }

    .ham.on span:nth-of-type(2){
        opacity: 0;
    }
}



/* sec1 */
.sec1 .inner{
    height: 100vh;
    padding-top: 17.5vh;
}

.tab_menu{
    width: 100%;
    height: 25vh;
    top: -7.5%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    position: absolute;
}

.tab_menu li{
    width: calc(100% / 5);
    height: 100%;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    overflow: hidden;
    background-color: #272727;
    transition: 0.3;
}

.tab_menu li.on{
    background-color: white;
    border: none;
}

.tab_menu li.on p{
    color: black;
}

.tab_menu li p{
    margin-bottom: 3rem;
}

.tab_menu li .img{
    width: 50%;
    justify-self: flex-end;
}

.tab_menu li:nth-of-type(1) .img{
    width: 20%;
}

.tab_list_con{
    position: relative;
    height: 100%;
}

.tab_list_con > div{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.tab_list_con > div.on{
    opacity: 1;
    z-index: 150;
}

.airpods_list *{
    color: black;
}

.lsit_txt{
    padding: 55px 113px;
}

.bg_color{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 40%;
    z-index: -10;
}

.bg_color > li{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.3s;
}

.iphone_list .bg_color > li:nth-of-type(1){background-color: #9BBAD6;}
.iphone_list .bg_color > li:nth-of-type(2){background-color: #6B6A66;}
.iphone_list .bg_color > li:nth-of-type(3){background-color: #FAE6CD;}
.iphone_list .bg_color > li:nth-of-type(4){background-color: #F3F4EE;}
.iphone_list .bg_color > li:nth-of-type(5){background-color: #5E6F5F;}

.ipad_list .bg_color > li:nth-of-type(1){background-color: #767479;}
.ipad_list .bg_color > li:nth-of-type(2){background-color: #e7d2cf;}
.ipad_list .bg_color > li:nth-of-type(3){background-color: #c0bed4;}
.ipad_list .bg_color > li:nth-of-type(4){background-color: #8fb3c3;}
.ipad_list .bg_color > li:nth-of-type(5){background-color: #faf7f2;}

.mac_list .bg_color > li:nth-of-type(1){background-color: #b0b4b7;}
.mac_list .bg_color > li:nth-of-type(2){background-color: #dfe1e0;}

.watch_list .bg_color > li:nth-of-type(1){background-color: #6B6A66;}
.watch_list .bg_color > li:nth-of-type(2){background-color: #FAE6CD;}

.airpods_list .bg_color > li:nth-of-type(1){background-color: #fff;}


.lsit_txt h1{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.lsit_txt > p{
    font-size: 30px;
}

.lsit_txt > a{
    margin-left: 12.8rem;
}

.color{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1.5rem 0;
}

.color span{
    width: 18px;
    height: 18px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    margin-right: 1rem;
}

.color span:last-of-type{
    margin-right: 0;
}

.iphone_list .color span:nth-of-type(1){background-color: #9BBAD6;}
.iphone_list .color span:nth-of-type(2){background-color: #6B6A66;}
.iphone_list .color span:nth-of-type(3){background-color: #FAE6CD;}
.iphone_list .color span:nth-of-type(4){background-color: #F3F4EE;}
.iphone_list .color span:nth-of-type(5){background-color: #5E6F5F;}

.ipad_list .color span:nth-of-type(1){background-color: #767479;}
.ipad_list .color span:nth-of-type(2){background-color: #e7d2cf;}
.ipad_list .color span:nth-of-type(3){background-color: #c0bed4;}
.ipad_list .color span:nth-of-type(4){background-color: #8fb3c3;}
.ipad_list .color span:nth-of-type(5){background-color: #faf7f2;}

.mac_list .color span:nth-of-type(1){background-color: #b0b4b7;}
.mac_list .color span:nth-of-type(2){background-color: #dfe1e0;}

.watch_list .color span:nth-of-type(1){background-color: #6B6A66;}
.watch_list .color span:nth-of-type(2){background-color: #FAE6CD;}

.airpods_list .color span:nth-of-type(1){background-color: #fff;}

.detail{
    height: 100%;
    position: relative;
}

.detail > *{
    position: absolute;
}

.detail .side{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    top: 15%;
    left: 0;
}

#pd_color{
    top: -8%;
    right: 25%;
}

#pd_color > p.on, .color_name > p.on, .bg_color > li.on{
    opacity: 1;
    z-index: 100;
}

#pd_color > p{
    opacity: 0;
    position: absolute;
    width: 100%;
    top: 0;
    transition: 0.3s;
}

.phone_color{
    width: 27%;
}

.pad_color{
    width: 30%;
}

.mac_color{
    width: 36%;
}

.watch_color, .pods_color{
    width: 15%;
}

.link{
    right: 113px;
    top: 55%;
    padding: 0.5rem 1rem;
    background-color: white;
    color: black;
    border-radius: 30px;
    font-size: 20px;
}

.color_name{
    top: -10%;
    right: 113px;
    width: 20%;
    text-align: right;
    text-align: right;
    display: flex;
    justify-content: flex-end;
}

.color_name > p{
    font-size: 30px;
    font-weight: bold;
    opacity: 0;
    z-index: 10;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    transition: 0.3s;
}

.iphone_list .color_name > p:nth-of-type(1){color: #9BBAD6;}
.iphone_list .color_name > p:nth-of-type(2){color: #6B6A66;}
.iphone_list .color_name > p:nth-of-type(3){color: #FAE6CD;}
.iphone_list .color_name > p:nth-of-type(4){color: #F3F4EE;}
.iphone_list .color_name > p:nth-of-type(5){color: #5E6F5F;}

.ipad_list .color_name > p:nth-of-type(1){color: #767479;}
.ipad_list .color_name > p:nth-of-type(2){color: #e7d2cf;}
.ipad_list .color_name > p:nth-of-type(3){color: #c0bed4;}
.ipad_list .color_name > p:nth-of-type(4){color: #8fb3c3;}
.ipad_list .color_name > p:nth-of-type(5){color: #faf7f2;}

.mac_list .color_name > p:nth-of-type(1){color: #b0b4b7;}
.mac_list .color_name > p:nth-of-type(2){color: #dfe1e0;}

.watch_list .color_name > p:nth-of-type(1){color: #6B6A66;}
.watch_list .color_name > p:nth-of-type(2){color: #FAE6CD;}

.airpods_list .color_name > p:nth-of-type(1){color: #fff;}

/* sec1 1200px */
@media (max-width:1200px){
    .tab_menu li .img{
        width: 65%;
    }
    
    .tab_menu li:nth-of-type(1) .img{
        width: 30%;
    }

    .color_name{
        top: -35%;
    }

    #pd_color{
        right: 113px;
    }

    .phone_color{
        width: 36%;
    }
    
    .pad_color{
        width: 40%;
    }
    
    .mac_color{
        width: 43%;
    }
    
    .pods_color{
        width: 18%;
    }
    
    .link{
        right: 55%;
        top: 52%;
    }
}

/* sec1 모바일 */
@media (max-width:1000px){
    .lsit_txt{
        padding: 50px;
        white-space: nowrap;
    }

    .lsit_txt h1{
        font-size: 35px;
    }
    
    .lsit_txt > p{
        font-size: 25px;
    }
    
    .color_name{
        right: 50px;
        font-size: 25px;
    }

    #pd_color{
        right: 50px;
    }

    .detail .side{
        display: none;
    }

    .phone_color{
        width: 46%;
    }
    
    .pad_color{
        width: 51%;
    }
    
    .mac_color{
        width: 53%;
    }
    
    .watch_color{
        width: 18%;
    }

    .pods_color{
        width: 23%;
    }

    .link{
        top: 57.5%;
        font-size: 16px;
        left: 50px;
        right: auto;
    }
}

/* sec1 750px */
@media (max-width:750px){
    .sec1 .inner{
        height: 70vh;
    }
    
    .tab_menu{
        height: 20vh;
        top: -7%;
    }
    
    .tab_menu li .img{
        width: 85%;
    }
    
    .tab_menu li:nth-of-type(1) .img{
        width: 40%;
    }
    
    .tab_list_con{
        top: -22px;
    }
    
    .tab_list_con > div.on{
        opacity: 1;
        z-index: 150;
    }
    
    .bg_color{
        height: 58%;
    }

    .lsit_txt h1{
        font-size: 30px;
    }
    
    .lsit_txt > p{
        font-size: 22px;
    }
    
    .color_name{
        font-size: 20px;
    }

    .color_name{
        right: auto;
        left: 50px;
        text-align: left;
        top: 0;
    }

    #pd_color{
        top: 0;
        right: 50px;
    }

    .detail .side{
        display: none;
    }

    .phone_color{
        width: 30%;
    }
    
    .pad_color{
        width: 32%;
    }
    
    .mac_color{
        width: 40%;
    }

    .link{
        top: 38%;
    }
}

/* sec1 500px */
@media (max-width:500px){
    .phone_color{
        width: 40%;
    }
    
    .pad_color{
        width: 42%;
    }
    
    .mac_color{
        width: 42%;
    }

    .watch_color{
        width: 22%;
    }

    .pods_color{
        width: 28%;
    }

    .link{
        top: 35%;
    }
}

/* sec2 */
.sec2{
    margin: 120px 0;
}

.sec2 .inner{
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec2 .inner p:nth-of-type(1){
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1.5rem;
}

.sec2 .inner h1{
    font-size: 40px;
    margin-bottom: 1.5rem;
}

.sec2 .inner p:nth-of-type(2){
    width: 50%;
    word-break: keep-all;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.event{
    color: yellow;
    margin-bottom: 1.5rem;
}

.img_con{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.img_con li{
    width: calc(100% / 5 - 20px);
}

.img_con li:nth-of-type(even){
    margin-top: 5rem;
    transition: 0.3s;
}

.img_con li:nth-of-type(even):hover{
    margin-top: 0;
}

.img_con li:nth-of-type(odd):hover{
    margin-top: 0;
    transition: 0.3s;
}

.img_con li:nth-of-type(odd):hover{
    margin-top: 8.5rem;
}

/* sec2 1000px */
@media (max-width:1000px){
    .sec2 .inner p:nth-of-type(1){
        font-size: 25px;
    }
    
    .sec2 .inner h1{
        font-size: 35px;
    }

    .sec2 .inner p:nth-of-type(2){
        width: 80%;
    }
}

/* sec2 600px */
@media (max-width:1000px){
    .sec2 .inner{
        height: 70vh;
    }

    .sec2 .inner p:nth-of-type(2){
        width: 100%;
    }

    .img_con li{
        width: calc(100% / 3 - 20px);
    }

    .img_con li:first-of-type, .img_con li:last-of-type{
        display: none;
    }
}


/* sec3 */
.sec3{
    height: 70vh;
    overflow: hidden;
}

.sec3 h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 3rem;
}

.sec3 .sec3_list{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.sec3 .sec3_list li{
    width: 20%;
    height: 55vh;
    position: relative;
    overflow: hidden;
    transition: 0.3s;
}

.sec3 .sec3_list li::before{
    content: "";
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
}

.sec3 .sec3_list li.on{
    width: 58%;
}

.sec3 .sec3_list li > *{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.sec3_txt{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5;
    width: 100%;
    height: 100%;
    position: relative;
    word-break: keep-all;
}

.sec3_txt strong{
    font-size: 40px;
    font-weight: bold;
}

.sec3_txt a{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    padding: 2rem;
    display: none;
    align-items: flex-end;
    justify-content: flex-end;
    transition: 0.3s;
}

.sec3 .sec3_list li.on a{
    display: flex;
}

.sec3 .sec3_list li video{
    min-width: 100%;
    min-height: 100%;
    z-index: -10;
}

/* sec3 모바일 */
@media (max-width:1000px){
    .sec3 h1{
        font-size: 35px;
    }

    .sec3_txt strong{
        font-size: 35px;
    }
}

/* footer */
footer{
    height: 30vh;
}

.ft_menu {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border: 1px solid white;
    border-left: transparent;
    border-right: transparent;
}

.ft_menu a{
    padding: 1rem 2rem;
}

.ft_menu a:last-of-type{
    width: 3%;
    padding: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10%;
}

.ft_menu a:hover{
    font-weight: bold;
}

.ft_txt{
    margin-top: 2.5%;
    text-align: center;
    line-height: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.ft_txt p{
    position: relative;
    margin-right: 1rem;
}

.ft_txt p:last-of-type{
    margin-right: 0;
}

.ft_txt p::before{
    content: "";
    width: 1px;
    height: 70%;
    background-color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: -0.5rem;
}

.ft_txt p:last-of-type::before{
    display: none;
}

/* footer 1300px */
@media (max-width:1300px){
    footer *{
        font-size: 20px;
    }

    .ft_menu a{
        padding: 1rem 1.5rem;
    }
}

/* footer 모바일 */
@media (max-width:1000px){
    footer *{
        font-size: 16px;
    }

    .ft_menu a{
        padding: 1rem;
        font-size: 16px;
        word-break: keep-all;
        text-align: center;
    }

    .ft_menu a:last-of-type{
        display: none;
    }
}